<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container-fluid px-0">
    <div class="col px-0" id="terminal-card">
        <div id="terminal">
            <div dir="ltr" class="terminal xterm" tabindex="0">
                <div class="xterm-accessibility">
                    <div class="xterm-accessibility-tree">
                        <div role="listitem" tabindex="-1" aria-posinset="1" aria-setsize="28" style="height: 17px;">
                            ,---. ,------. ,--------.,--. ,--. ,---. ,---.
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="2" aria-setsize="28" style="height: 17px;"> /
                            O \ | .--. ''--. .--'| '--' | / O \ ' .-'
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="3" aria-setsize="28" style="height: 17px;">|
                            .-. || '--'.' | | | .--. || .-. |`. `-.
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="4" aria-setsize="28" style="height: 17px;">| |
                            | || |\ \ | | | | | || | | |.-' |
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="5" aria-setsize="28" style="height: 17px;">
                            `--' `--'`--' '--' `--' `--' `--'`--' `--'`-----'
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="6" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="7" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="8" aria-setsize="28" style="height: 17px;">
                            wiki: https://alibaba.github.io/arthas
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="9" aria-setsize="28" style="height: 17px;">
                            version: 3.1.0
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="10" aria-setsize="28" style="height: 17px;">
                            pid: 31254
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="11" aria-setsize="28" style="height: 17px;">
                            time: 2019-04-03 14:35:31
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="12" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="13" aria-setsize="28" style="height: 17px;">
                            $
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="14" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="15" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="16" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="17" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="18" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="19" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="20" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="21" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="22" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="23" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="24" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="25" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="26" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="27" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                        <div role="listitem" tabindex="-1" aria-posinset="28" aria-setsize="28" style="height: 17px;">
                            Blank line
                        </div>
                    </div>
                    <div class="live-region" aria-live="assertive">&nbsp;&nbsp;,---.&nbsp;&nbsp;,------.&nbsp;,--------.,--.&nbsp;&nbsp;,--.&nbsp;&nbsp;,---.&nbsp;&nbsp;&nbsp;,---.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;/&nbsp;&nbsp;O&nbsp;&nbsp;\&nbsp;|&nbsp;&nbsp;.--.&nbsp;''--.&nbsp;&nbsp;.--'|&nbsp;&nbsp;'--'&nbsp;&nbsp;|&nbsp;/&nbsp;&nbsp;O&nbsp;&nbsp;\&nbsp;'&nbsp;&nbsp;&nbsp;.-'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        |&nbsp;&nbsp;.-.&nbsp;&nbsp;||&nbsp;&nbsp;'--'.'&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;.--.&nbsp;&nbsp;||&nbsp;&nbsp;.-.&nbsp;&nbsp;|`.&nbsp;&nbsp;`-.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        |&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;||&nbsp;&nbsp;|\&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;||&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;|.-'&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        `--'&nbsp;`--'`--'&nbsp;'--'&nbsp;&nbsp;&nbsp;`--'&nbsp;&nbsp;&nbsp;`--'&nbsp;&nbsp;`--'`--'&nbsp;`--'`-----'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        wiki:&nbsp;https://alibaba.github.io/arthas
                        version:&nbsp;3.1.0
                        pid:&nbsp;31254
                        time:&nbsp;2019-04-03&nbsp;14:35:31

                        $&nbsp;
                    </div>
                </div>
                <div class="xterm-viewport" style="background-color: rgb(0, 0, 0);">
                    <div class="xterm-scroll-area"></div>
                </div>
                <div class="xterm-screen" style="width: 1710px; height: 476px;">
                    <div class="xterm-helpers"><textarea class="xterm-helper-textarea" aria-label="Terminal input"
                                                         aria-multiline="false" autocorrect="off" autocapitalize="off"
                                                         spellcheck="false" tabindex="0"></textarea>
                        <div class="composition-view"></div>
                        <span class="xterm-char-measure-element" aria-hidden="true"
                              style="font-family: courier-new, courier, monospace; font-size: 15px;">W</span></div>
                    <canvas class="xterm-text-layer" width="1710" height="476"
                            style="z-index: 0; width: 1710px; height: 476px;"></canvas>
                    <canvas class="xterm-selection-layer" width="1710" height="476"
                            style="z-index: 1; width: 1710px; height: 476px;"></canvas>
                    <canvas class="xterm-link-layer" width="1710" height="476"
                            style="z-index: 2; width: 1710px; height: 476px;"></canvas>
                    <canvas class="xterm-cursor-layer" width="1710" height="476"
                            style="z-index: 3; width: 1710px; height: 476px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>